p, li {
  font-size: 18px;
}

#header {
  text-align: center;
  background-color: #333;
  color: white;
  margin: 0;
  padding: 30px;
}


  body {
    font-family: 'georgia';
    background-color: #EEE;
    margin: 0;
  }

  .review {
    background-color: white;
    width: 650px;
    /* display: none; */
    margin: 0 auto;
    padding: 50px;
  }

  .active {
    display: block;
    margin: 40px auto;
  }

  img {

    width: 650px;
  }



  button {
    font-weight: bold;
    font-size:  16;
    color: white;
    background-color: #28A745;
    padding: 10px 200px;
    /* Borders  make the conners round*/
    border: solid 2px #1B7530;
    border-radius: 50px;
  }



  /* Declaration */
  /* border-radius: 100px; to create a pill shape:

  border-radius: 50%; to create a circle: */

  /* background-color: #15AAD7;
  color: white;
  padding: 10px;
  border: solid 3px #0F7391; */
